body {
    font-family: 'Merriweather', serif;
    text-align: center;
    background-image: url("https://images.alphacoders.com/130/1308096.jpeg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 320px;
  }
  img {
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: rotate(10deg);
  }
  